/* ---------------------------------------------------------------------
Original Authors: Anthony Ticknor, Dan Piscitiello
Contributors: N/A

Target Browsers: All
Media Type: Screen, Projection
Width: Medium Screen & Up
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
body {
    font: normal 16px/1.25 "SeravekLight", Helvetica, Arial, sans-serif;
}

/* ---------------------------------------------------------------------
 Sections
------------------------------------------------------------------------ */
.section {
    padding: 80px 0;
}

.section:before {
    height: 48px;
}

.section:after {
    height: 48px;
}

.section-hd {
    max-width: 540px; /* reset small view max-width */
}

/* masthead section */
.section_masthead {
    padding: 0;
}

.section_masthead:after {
    height: 94px;
}

.section-bd_masthead {
    padding: 114px 0;
}

/* contact section */
.section_contact {
    padding: 0;
}

.section-bd_contact {
    position: relative;
    max-width: 1364px;
}

/* ---------------------------------------------------------------------
 Preamble
------------------------------------------------------------------------ */
.preamble {
    width: 560px;
}

.preamble-hd {
    margin-bottom: 20px;
}

.preamble-bd {
    margin-bottom: 14px;
}

/* ---------------------------------------------------------------------
 Headings
    - all headings change sizes / hierarchies as mediaqueries apply
------------------------------------------------------------------------ */
.hdg_section {
    font-size: 24px;
}
.hdg_subSection {
    font-size: 20px;
}

/* ---------------------------------------------------------------------
 Box
------------------------------------------------------------------------ */
.box {
    margin-bottom: 0;
}

.box_mute {
    padding: 20px;
    background-color: #b0ce6d; /* fallback for non rgba */
    background-color: rgba(254,250,242,.9);
    border: 1px solid rgba(100,100,100,.1);
}

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
.blocks {
    margin: 0; /* reset small view margin */
}

.blocks > * {
    margin: 0; /* reset small view margin */
}

.blocks_2up > * { width: 50.0%; }
.blocks_2upThen3up > * { width: 33.3%; }
.blocks_3up > * { width: 33.3% }
.blocks_4up > * { width: 25.0%; }
.blocks_5up > * { width: 20.0%; }

/* ---------------------------------------------------------------------
 Map - Overlay & Pin
------------------------------------------------------------------------ */
.map {
    background: transparent url("../images/design/bg-map.jpg") no-repeat 0 0;
    height: 434px;
}

.map-overlay {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
}

/* enclose to mediaquery to identify modern browser */
@media only screen and (min-width: 1em) {
    .map-pin {
        display: block;
        position: absolute;
        width: 61px;
        height: 88px;
        background: transparent url("../images/design/map-pin.png") no-repeat 0 0;
    }
    
    .map-pin:hover {
        -webkit-animation: wobble .7s linear 0s infinite normal;
        -moz-animation:    wobble .7s linear 0s infinite normal;
        -ms-animation:     wobble .7s linear 0s infinite normal;
        -o-animation:      wobble .7s linear 0s infinite normal;
        animation:         wobble .7s linear 0s infinite normal;
    }

    @-webkit-keyframes wobble {
        0%  { -webkit-transform: translateY(0%); }
        25% { -webkit-transform: translateY(-10%); }
        50% { -webkit-transform: translateY(0%); }
    }
    @-moz-keyframes wobble {
        0%  { -moz-transform: translateY(0%); }
        25% { -moz-transform: translateY(-10%); }
        50% { -moz-transform: translateY(0%); }
    }
    @-ms-keyframes wobble {
        0%  { -ms-transform: translateY(0%); }
        25% { -ms-transform: translateY(-10%); }
        50% { -ms-transform: translateY(0%); }
    }
    @-o-keyframes wobble {
        0%  { -o-transform: translateY(0%); }
        25% { -o-transform: translateY(-10%); }
        50% { -o-transform: translateY(0%); }
    }
    @keyframes wobble {
        0%  { transform: translateY(0%); }
        25% { transform: translateY(-10%); }
        50% { transform: translateY(0%); }
    }
}

/* fine control of map */
@media only screen and (min-width: 40em) {
    .map {
        background-position: -460px -60px;
    }
    
    .map-pin {
        left: 128px;
        top: 66px; 
    }
}

@media only screen and (min-width: 52em) {
    .map {
        height: 534px;
        background-position: -340px 0;
    }
    
    .map-pin {
        left: 248px;
        top: 126px; 
    }
}

@media only screen and (min-width: 60em) {
    .map {
        height: 634px;
        background-position: -340px 0;
    }
    
    .map-pin {
        left: 248px;
        top: 126px; 
    }
}

@media only screen and (min-width: 64em) {
    .map {
        height: 634px;
        background-position: -240px 0;
    }
    
    .map-pin {
        left: 348px;
        top: 126px; 
    }
}

@media only screen and (min-width: 69em) {
    .map {
        height: 634px;
        background-position: -160px 0;
    }
    
    .map-pin {
        left: 428px;
        top: 126px; 
    }
}

@media only screen and (min-width: 74em) {
    .map {
        height: 634px;
        background-position: -80px 0;
    }
    
    .map-pin {
        left: 508px;
        top: 126px; 
    }
}

@media only screen and (min-width: 78em) {
    .map {
        height: 634px;
        background-position: -20px 0;
    }
    
    .map-pin {
        left: 568px;
        top: 126px; 
    }
}

@media only screen and (min-width: 78em) {
    .map {
        height: 634px;
        background-position: 0 0;
    }
    
    .map-pin {
        left: 588px;
        top: 126px; 
    }
}