/* ---------------------------------------------------------------------
Original Authors: Anthony Ticknor, Dan Piscitiello
Contributors: N/A

Target Browsers: All
Media Type: Screen, Projection
Width: Medium Screen & Up
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
body {
    font: normal 16px/1.25 "SeravekLight", Helvetica, Arial, sans-serif;
}

/* ---------------------------------------------------------------------
 Utility Classes
------------------------------------------------------------------------ */
.textlineMobile {
    display: inline;
}

/* ---------------------------------------------------------------------
 Sections
------------------------------------------------------------------------ */
.section {
    padding: 80px 0;
}

.section:before {
    height: 48px;
}

.section:after {
    height: 48px;
}

.section-hd {
    max-width: 540px; /* reset small view max-width */
}

/* masthead section */
.section_masthead {
    padding: 0;
}

.section_masthead:after {
    height: 94px;
}

.section-bd_masthead {
    padding: 114px 0;
}

.section_portfolio {
    padding: 80px 66px; /* lateral padding should match carousel btn width, plus a bit */
}

/* contact section */
.section_contact {
    padding: 0;
}

.section-bd_contact {
    position: relative;
    max-width: 1364px;
}

/* ---------------------------------------------------------------------
 Preamble
------------------------------------------------------------------------ */
.preamble {
    width: 560px;
}

.preamble-hd {
    margin-bottom: 20px;
}

.preamble-bd {
    margin-bottom: 14px;
}

/* ---------------------------------------------------------------------
 Headings
    - all headings change sizes / hierarchies as mediaqueries apply
------------------------------------------------------------------------ */
.hdg_section {
    font-size: 24px;
}
.hdg_subSection {
    font-size: 20px;
}

/* ---------------------------------------------------------------------
 Box
------------------------------------------------------------------------ */
.box {
    margin-bottom: 0;
}

.box_mute {
    padding: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 4px 10px #a7a49d;
    -moz-box-shadow:    0 4px 10px #a7a49d;
    -ms-box-shadow:     0 4px 10px #a7a49d;
    -o-box-shadow:      0 4px 10px #a7a49d;
    box-shadow:         0 4px 10px #a7a49d;
}

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
.blocks {
    margin: 0; /* reset small view margin */
}

.blocks > * {
    margin: 0; /* reset small view margin */
}

.blocks_2up > * { width: 50.0%; }
.blocks_2upThen3up > * { width: 33.3%; }
.blocks_2upThen4up > * { width: 50%; }
.blocks_3up > * { width: 33.3% }
.blocks_4up > * { width: 25.0%; }
.blocks_5up > * { width: 20.0%; }

/* ---------------------------------------------------------------------
 Promo
------------------------------------------------------------------------ */
.promo-ft {
    padding-top: 33px;
    font-size: 13px;
}

/* ---------------------------------------------------------------------
 Carousel
------------------------------------------------------------------------ */
.carousel {
    min-width: 508px;
}

.carousel-controls {
    padding-bottom: 20px;
}

.carousel-controls-btn {
    width: 56px;
}

.carousel-controls-btn:hover {
    background-color: #f1f1f1;
    background-color: rgba(234, 234, 234, 0.68);
}

/* ---------------------------------------------------------------------
 Pagination
------------------------------------------------------------------------ */
.pagination > * {
    margin: 0 3px;
}

/* ---------------------------------------------------------------------
 Pagination Dots
------------------------------------------------------------------------ */
.paginationDot {
    width: 6px;
    height: 6px;
}

/* ---------------------------------------------------------------------
 Partners Logos :: increased by 1.2x for tablet
------------------------------------------------------------------------ */
.partners-3m        { width: 47px; }
.partners-bestbuy   { width: 53px; }
.partners-apple     { width: 41px; }
.partners-target    { width: 44px; }
.partners-usbank    { width: 64px; }

/* ---------------------------------------------------------------------
 Feature
------------------------------------------------------------------------ */
.feature_spacedWhenSmall {
    margin-bottom: 16px;
}

/* ---------------------------------------------------------------------
 Nav List
------------------------------------------------------------------------ */
.navList {
    width: 540px;
    padding: 0;
}

/* ---------------------------------------------------------------------
 Hub
------------------------------------------------------------------------ */
.hub-panel_1of5 {
    position: relative; /* remove positioning and let this tall image hold the dynamic height */
    width: 23.297872340426%; /* 219 / 940 */
}

.hub-panel_2of5 {
    display: block;
    top: 0;
    left: 23.617021276596%; /* 222 / 940  */
    width: 26.914893617021%; /* 253 / 940 */
}

.hub-panel_3of5 {
    top: 0;
    right: 0;
    left: auto;
    width: 49.148936170213%; /* 462 / 940 */
}

.hub-panel_4of5 {
    top: 50.361445783133%; /* 209 / 415 */
    left: 23.617021276596%; /* 222 / 940  */
    width: 49.148936170213%; /* 462 / 940 */
}

.hub-panel_5of5 {
    display: block;
    top: 50.361445783133%; /* 209 / 415 */
    right: 0;
    width: 26.914893617021%; /* 253 / 940 */
}

/* ---------------------------------------------------------------------
 Global Footer
------------------------------------------------------------------------ */
.globalFooter {
    background: #ffffff;
    display: block;
    padding: 20px;
}

.globalFooter-bd {
    max-width: 940px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

/* ---------------------------------------------------------------------
 Map - Overlay & Pin
------------------------------------------------------------------------ */
.map {
    background: transparent url("../images/design/bg-map.jpg") no-repeat 0 0;
    height: 434px;
}

.map-overlay {
    position: absolute;
    top: 50%;
    right: 60px;
    margin-top: -114px; /* vertically center on the map */
    z-index: 999;
}

/* enclose to mediaquery to identify modern browser */
@media only screen and (min-width: 1em) {
    .map-pin {
        display: block;
        position: absolute;
        width: 61px;
        height: 88px;
        background: transparent url("../images/design/map-pin.png") no-repeat 0 0;
    }

    .map-pin:hover {
        -webkit-animation: wobble .7s linear 0s infinite normal;
        -moz-animation:    wobble .7s linear 0s infinite normal;
        -ms-animation:     wobble .7s linear 0s infinite normal;
        -o-animation:      wobble .7s linear 0s infinite normal;
        animation:         wobble .7s linear 0s infinite normal;
    }

    @-webkit-keyframes wobble {
        0%  { -webkit-transform: translateY(0%); }
        25% { -webkit-transform: translateY(-10%); }
        50% { -webkit-transform: translateY(0%); }
    }
    @-moz-keyframes wobble {
        0%  { -moz-transform: translateY(0%); }
        25% { -moz-transform: translateY(-10%); }
        50% { -moz-transform: translateY(0%); }
    }
    @-ms-keyframes wobble {
        0%  { -ms-transform: translateY(0%); }
        25% { -ms-transform: translateY(-10%); }
        50% { -ms-transform: translateY(0%); }
    }
    @-o-keyframes wobble {
        0%  { -o-transform: translateY(0%); }
        25% { -o-transform: translateY(-10%); }
        50% { -o-transform: translateY(0%); }
    }
    @keyframes wobble {
        0%  { transform: translateY(0%); }
        25% { transform: translateY(-10%); }
        50% { transform: translateY(0%); }
    }
}

/* fine control of map */
@media only screen and (min-width: 40em) {
    .map {
        background-position: -384px -60px;
    }

    .map-pin {
        left: 96px;
        top: 172px;
    }
}

@media only screen and (min-width: 48em) {
    .map {
        background-position: -340px -60px;
    }

    .map-pin {
        left: 140px;
        top: 172px;
    }
}

@media only screen and (min-width: 52em) {
    .map {
        height: 534px;
        background-position: -300px -20px;
    }

    .map-pin {
        left: 180px;
        top: 212px;
    }

    .map-overlay {
        right: 100px;
    }
}

@media only screen and (min-width: 60em) {
    .map {
        height: 634px;
        background-position: -280px 0;
    }

    .map-pin {
        left: 200px;
        top: 234px;
    }

    .map-overlay {
        margin-top: -124px; /* vertically center on the map */
    }
}

@media only screen and (min-width: 69em) {
    .map {
        height: 634px;
        background-position: -160px 0;
    }

    .map-pin {
        left: 320px;
        top: 234px;
    }

    .map-overlay {
        right: 200px;
    }
}

@media only screen and (min-width: 74em) {
    .map {
        height: 634px;
        background-position: -80px 0;
    }

    .map-pin {
        left: 400px;
        top: 234px;
    }
}

@media only screen and (min-width: 78em) {
    .map {
        height: 634px;
        background-position: 0 0;
    }

    .map-pin {
        left: 480px;
        top: 234px;
    }
}

/* ---------------------------------------------------------------------
 Diagonal Stripes
------------------------------------------------------------------------ */
.stripes {
    content: '';
    width: 120%;
    height: 140%;
    position: absolute;
    top: -60%;
    left: -60%;
    background: rgba(7,152,152,.32);
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    transform: rotate(-44deg);
    z-index: 26;
}