/* ---------------------------------------------------------------------
Original Authors: Anthony Ticknor, Dan Piscitiello
Contributors: N/A

Target Browsers: All
Media Type: Screen, Projection
Width: Large Screen & Up
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Navigation
------------------------------------------------------------------------ */
.nav {
    right: 0;
}

/* ---------------------------------------------------------------------
 Sections
------------------------------------------------------------------------ */
.section-bd_masthead {
    padding: 190px 0 212px;
}