/* ---------------------------------------------------------------------
Original Authors: Anthony Ticknor, Dan Piscitiello
Contributors: N/A

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: 0;
}

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
    overflow-y: scroll;
}

/* Don't let iOS and WinMobile mobile-optimize text for you */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------
 Fonts
------------------------------------------------------------------------ */
@font-face {
    font-family: "SeravekLight";
    src: url("../fonts/seravek/seravek-300-light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SeravekRegular";
    src: url("../fonts/seravek/seravek-500-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
body {
    font: normal 16px/1.25 "SeravekLight", Helvetica, Arial, sans-serif;
    color: #3a3a3a;
    background: #ffffff url("../images/design/bg-section-masthead.jpg") no-repeat fixed center top; /* creates "rollover" effect over the top of the first section */
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;
}

/* make sure media never breaks the bounds of it's own container */
img,
video,
audio {
    max-width: 100%;
}

/* ---------------------------------------------------------------------
 Utility Classes
------------------------------------------------------------------------ */
.isHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.isBold {
    font-weight: bold;
}

.textlineMobile {
    display: block;
}

.blockAnchor {
    display: block;
}

/* ---------------------------------------------------------------------
 Logo
------------------------------------------------------------------------ */
.logo {
    display: inline-block;
    width: 235px;
    height: 128px;
    background: transparent url("../images/design/logo.png") no-repeat 0 0;
    text-indent: -9999px;
}

/* ---------------------------------------------------------------------
 Navigation
------------------------------------------------------------------------ */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #efefef;
    background-color: rgba(255,255,255,.7);
    box-shadow: 0 0 12px rgba(0,0,0,.2);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.nav-inner {
    max-width: 940px;
    margin: 0 auto;
}

.nav-inner-logo {
    float: left;
    margin-left: 10px;
    margin-top: 4px;
}

.nav-inner-cta {
    float: right;
    margin-right: 10px;
}

/* ---------------------------------------------------------------------
 Wordmark
------------------------------------------------------------------------ */
.wordmark-icn {
    display: inline-block;
    height: 33px;
    width: 28px;
    background: transparent url(../images/design/wordmark-icn.png) no-repeat 0 0;
    text-indent: -9999px;
}

.wordmark-txt {
    display: none;
    height: 33px;
    width: 257px;
    background: transparent url(../images/design/wordmark-txt.png) no-repeat 0 0;
    text-indent: -9999px;
}

/* ---------------------------------------------------------------------
 Sections
------------------------------------------------------------------------ */
.section {
    padding: 50px 0;
    position: relative;
}

.section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 28px;
}

.section:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 28px;
}

.section-hd {
    margin: 0 auto 30px auto;
    max-width: 940px;
    text-align: center;
    max-width: 420px;
    z-index: 999; /* stack sections over stripes */
}

.section-bd {
    margin: 0 auto;
    max-width: 940px;
    z-index: 999; /* stack sections over stripes */
}

/* masthead section */
.section_masthead {
    padding: 0;
}

.section_masthead:after {
    border-left: 2px solid #7abdbe;
    border-right: 2px solid #7abdbe;
}

.section-bd_masthead {
    padding: 72px 0 50px 0;
    position: relative;
}

/* services section */
.section_services {
    background: #9fc34d;
}

.section_services:before {
    border-left: 2px solid #213f1c;
    border-right: 2px solid #213f1c;
}

.section_services:after {
    border-left: 2px solid #213f1c;
    border-right: 2px solid #213f1c;
}

.section-hd_services {
    padding: 0 14px;
}

/* portfolio section */
.section_portfolio {
    background: #ffffff;
    padding: 50px 45px;
}

.section_portfolio:before {
    border-left: 2px solid #7abdbe;
    border-right: 2px solid #7abdbe;
}

.section_portfolio:after {
    border-left: 2px solid #7abdbe;
    border-right: 2px solid #7abdbe;
}

.section_portfolio > .section-hd { margin-bottom: 16px; }

/* about section */
.section_about {
    background: #80c5c7;
}

.section_about:before {
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

.section_about:after {
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

/* contact section */
.section_contact {
    padding: 20px 0;
    background: #ffffff;
}

/* ---------------------------------------------------------------------
 Preamble
------------------------------------------------------------------------ */
.preamble {
    width: 310px;
    margin: 0 auto;
    text-align: center;
}

.preamble-hd {
    margin-bottom: 18px;
}

.preamble-bd {
    margin-bottom: 0;
}

/* ---------------------------------------------------------------------
 Headings
    - all headings change sizes / hierarchies as mediaqueries apply
------------------------------------------------------------------------ */
.hdg_section {
    font-size: 20px;
    line-height: 1.2;
}
.hdg_subSection {
    font-size: 20px;
    line-height: 1.2;
 }

.hdg_minorSection {
    font-size: 16px;
    line-height: 1.2;
}

.hdg_major {
    font-size: 13px;
    line-height: 1.2;
}

.hdg_team {
    font-size: 12px;
    text-transform: uppercase;
}

.hdg_team-preamble {
    display: block;
}

/* hdg mixins */
.hdg_gray { color: #606158; }
.hdg_green { color: #315314; }
.hdg_blue { color: #2b4242; }
.hdg_white { color: #ffffff; }
.hdg_lightGreen { color: #9fc34d; }
.hdg_lightBlue { color: #80c5c7; }
.hdg_orange { color: #e9642a; }
.hdg_bold { font-weight: bold; }
.hdg_cap { text-transform: uppercase; }

/* ---------------------------------------------------------------------
 Buttons
------------------------------------------------------------------------ */
.btn {
    display: inline-block;
    padding: 0 44px;
    height: 42px;
    background: #e9642a;
    color: #ffffff;
    font: normal 13px/42px "SeravekRegular", Helvetica, Arial, sans-serif;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition:    background-color .2s ease-in-out;
    -ms-transition:     background-color .2s ease-in-out;
    -o-transition:      background-color .2s ease-in-out;
    transition:         background-color .2s ease-in-out;
}

.btn:hover {
    background: #dc5a22;
}

/* ---------------------------------------------------------------------
 Box
------------------------------------------------------------------------ */
.box {
    padding: 20px 14px;
    margin-bottom: 20px;
    background-color: #b0ce6d; /* fallback for non rgba */
    background-color: rgba(255,255,255,.18);
}

.box_basic {
    margin: 0;
    background-color: transparent;
}

.box_plain {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.box_transparent {
    background-color: transparent;
}

.box_dark a {
    color: #e9642a;
}

.box_dark {
    color: #ffffff;
    background-color: #176164; /* fallback for non rgba */
    background-color: rgba(23,97,100,.88);
}

.box_cta {
    position: relative;
    color: #ffffff;
    background: #e9642a;
    font-weight: bold;
}

.box_inset {
    padding: 22px;
}

/* ---------------------------------------------------------------------
 Pod
------------------------------------------------------------------------ */
.pod {
    padding: 12px 10px;
}

.pod-hd {

}

.pod-bd {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background-color: #b74000;
    font-size: 12px;
}

.pod-bd-inner {
    padding: 4px 10px;
}

.pod-bd-inner-lg {
    display: none;
}

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
.blocks {
    margin: 0 auto;
    font-size: 0; /* fix inline block spacing */
    position: relative;
    left: -10px;
}

.blocks > * {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding-left: 20px;
    font-size: 16px; /* reset font-size after inline block spacing fix*/
}

.blocks_tight {
    padding: 0 10px;
    left: -3px;
}

.blocks_tight > * {
    padding-left: 3px;
}

.blocks_2upThen3up > * { width: 50%; }

/* ---------------------------------------------------------------------
 Feature
------------------------------------------------------------------------ */
.feature_spacedWhenSmall {
    margin-bottom: 16px;
}

.feature-img {
    text-align: center;
    margin-bottom: 12px;
    margin: 0 auto;
}

.feature-employee {
    text-align: center;
    margin-bottom: 12px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.feature-employee img {
    display: block;
}

.feature-hd {
    text-align: center;
    margin-bottom: 12px;
}

.feature-subhd {
    margin-bottom: 12px;
}

.feature-meta {
    color: #e9642a;
    font-weight: bold;
    margin-top: 20px;
    display: none;
}

/* ---------------------------------------------------------------------
 Teaser
------------------------------------------------------------------------ */
.teaser {
    overflow: hidden;
    text-align: center;
    font-size: 14px;
}

.teaser-hd {
    margin-bottom: 20px;
}

.teaser-subHd {
    margin-bottom: 6px;
}

.teaser-bd {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 1px;
}

/* ---------------------------------------------------------------------
 Promo
------------------------------------------------------------------------ */
.promo-ft {
    padding-top: 18px;
    text-align: center;
    font-size: 12px;
}

/* ---------------------------------------------------------------------
 Carousel
------------------------------------------------------------------------ */
.carousel {
    min-width: 225px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.carousel-viewport {
    overflow: hidden;
    position: relative;
}

.carousel-controls {
    padding-bottom: 27px;
}

.carousel-controls-btn {
    display: block;
    width: 45px;
    position: absolute;
    top: 0;
    bottom: 0;
    text-indent: -9999px;
    cursor: pointer;
    background-color: rgba(234, 234, 234, 0);
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition:    background-color .2s ease-in-out;
    -ms-transition:     background-color .2s ease-in-out;
    -o-transition:      background-color .2s ease-in-out;
    transition:         background-color .2s ease-in-out;
}

.touch .carousel-controls-btn {
    -webkit-transition: none;
    -moz-transition:    none;
    -ms-transition:     none;
    -o-transition:      none;
    transition:         none;
    background-color: rgba(234, 234, 234, 0.68);
}

.carousel-controls-btn_prev {
    left: 0;
    background: transparent url(../images/design/arrow-prev-mobile.png) no-repeat center center;
}

.carousel-controls-btn_next {
    right: 0;
    background: transparent url(../images/design/arrow-next-mobile.png) no-repeat center center;
}

.carousel-slides {
    font-size: 0;
    white-space: nowrap;
    position: relative;
}

.carousel-slides > * {
    display: inline-block;
    width: 100%;
}

/* ---------------------------------------------------------------------
 Pagination List
------------------------------------------------------------------------ */
.pagination {
    font-size: 0;
    text-align: center;
}

.pagination > * {
    display: inline-block;
    margin: 0 2px;
}

/* ---------------------------------------------------------------------
 Pagination Dots
------------------------------------------------------------------------ */
.paginationDot {
    display: block;
    width: 4px;
    height: 4px;
    border: 2px solid #E9642A;
    background: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.paginationDot.isActive {
    background: #E9642A;
}

/* ---------------------------------------------------------------------
 Partners Logos
------------------------------------------------------------------------ */
.partners {
    padding-top: 20px;
    font-size: 0;
    text-align: center;
}

.partners  > * {
    display: inline-block;
}

.partners-3m        { width: 39px; }
.partners-bestbuy   { width: 44px; }
.partners-apple     { width: 34px; }
.partners-target    { width: 37px; }
.partners-usbank    { width: 53px; }

/* ---------------------------------------------------------------------
 Intro
------------------------------------------------------------------------ */
.intro {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 800px;
}

.intro p {
    margin-bottom: 22px;
}

.intro p:last-child {
    margin-bottom: 36px;
}

/* ---------------------------------------------------------------------
 Hub
------------------------------------------------------------------------ */
.hub {
    position: relative;
    margin: 0 10px 30px 10px;
}

.hub img {
    display: block;
}

.hub-panel {
    position: absolute;
}

.hub-panel_1of5 {
    position: relative; /* remove positioning and let this tall image hold the dynamic height */
    width: 32.017543859649%; /* 219 / 684 */
}

.hub-panel_2of5 {
    display: none; /* hide on small screen */
}

.hub-panel_3of5 {
    top: 0;
    left: 32.456140350877%; /* 222 / 684  */
    width: 67.543859649123%; /* 462 / 684 */
}

.hub-panel_4of5 {
    top: 50.361445783133%; /* 209 / 415 */
    left: 32.456140350877%; /* 222 / 684  */
    width: 67.543859649123%; /* 462 / 684 */
}

.hub-panel_5of5 {
    display: none; /* hide on small screen */
}

/* ---------------------------------------------------------------------
 Nav List
------------------------------------------------------------------------ */
.navList {
    display: block;
    padding: 0 10px;
    margin: 0 auto 30px auto;
}

.navList > li {
    display: inline-block;
    width: 50%;
}

.navList > li > a {
    display: block;
    padding: 14px 0;
    background-color: #e9642a;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
}

.navList > li.isActive > a {
    background-color: #ffffff;
    color: #e9642a;
    cursor: default;
}

/* ---------------------------------------------------------------------
 Links
------------------------------------------------------------------------ */
.link-callout {
    color: #ffffff;
}

.link-highlight {
    color: #e9642a;
}

/* ---------------------------------------------------------------------
 Global Footer
------------------------------------------------------------------------ */
.globalFooter {
    display: none;
}

.top {
    display: none;
}

/* ---------------------------------------------------------------------
 High Pixel Density Display Support
------------------------------------------------------------------------ */
.imgConstraint {
    max-width: 260px;
    margin: 0 auto;
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5) {
    .logo {
        background: transparent url("../images/design/logo@2x.png") no-repeat 0 0;
        background-size: 100%;
    }

    .wordmark-icn {
        background: transparent url(../images/design/wordmark-icn@2x.png) no-repeat 0 0;
        background-size: 100%;
    }

    .wordmark-txt {
        background: transparent url(../images/design/wordmark-txt@2x.png) no-repeat 0 0;
        background-size: 100%;
    }

    .carousel-controls-btn { background-size: 13px; }

    .carousel-controls-btn_prev { background-image: url(../images/design/arrow-prev-mobile@2x.png); }

    .carousel-controls-btn_next { background-image: url(../images/design/arrow-next-mobile@2x.png); }
}