/* ---------------------------------------------------------------------
Original Authors: Anthony Ticknor, Dan Piscitiello
Contributors: N/A

Target Browsers: All
Media Type: Screen, Projection
Width: Small Screen & Up
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Wordmark
------------------------------------------------------------------------ */
.wordmark-txt {
    display: inline-block;
}

/* ---------------------------------------------------------------------
 Headings
    - all headings change sizes / hierarchies as mediaqueries apply
------------------------------------------------------------------------ */
.hdg_major {
    font-size: 20px;
}