/* ---------------------------------------------------------------------
Original Authors: Anthony Ticknor, Dan Piscitiello
Contributors: N/A

Target Browsers: All
Media Type: Screen, Projection
Width: Large Screen & Up
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
body {
    font: normal 18px/1.26 "SeravekLight", Helvetica, Arial, sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ---------------------------------------------------------------------
 Navigation
------------------------------------------------------------------------ */
.nav {
    right: 0;
}

/* ---------------------------------------------------------------------
 Sections
------------------------------------------------------------------------ */
.section {
    padding: 100px 0;
}

.section:before {
    height: 60px;
}

.section:after {
    height: 60px;
}

.section-hd {
    max-width: 768px; /* reset med view max-width */
}

/* masthead section */
.section_masthead {
    padding: 0;
}

.section_masthead:after {
    height: 170px;
}

.section-bd_masthead {
    padding: 183px 0;
}

/* contact section */
.section_contact {
    padding: 0;
}

/* ---------------------------------------------------------------------
 Preamble
------------------------------------------------------------------------ */
.preamble {
    width: 800px;
}

.preamble-hd {
    margin-bottom: 16px;
}

.preamble-bd {
    margin-bottom: 18px;
}

/* ---------------------------------------------------------------------
 Headings
    - all headings change sizes / hierarchies as mediaqueries apply
------------------------------------------------------------------------ */
.hdg_section { font-size: 34px; }
.hdg_subSection { font-size: 22px; }

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
.blocks > * {
    font-size: 17px; /* reset font-size after inline block spacing fix*/
}

