/* ---------------------------------------------------------------------
Original Authors: Anthony Ticknor, Dan Piscitiello
Contributors: N/A

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: 0;
}

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
    overflow-y: scroll;
}

/* Don't let iOS and WinMobile mobile-optimize text for you */
html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}


/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------
 Fonts
------------------------------------------------------------------------ */
@font-face {
    font-family: "SeravekLight";
    src: url("../fonts/seravek/seravek-300-light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SeravekRegular";
    src: url("../fonts/seravek/seravek-500-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
body {
    font: normal 16px/1.25 "SeravekLight", Helvetica, Arial, sans-serif;
    color: #3a3a3a;
    background: #ffffff url("../images/design/bg-section-masthead.jpg") no-repeat fixed center top; /* creates "rollover" effect over the top of the first section */
}

a {
    color: inherit;
    text-decoration: none;
}

/* make sure media never breaks the bounds of it's own container */
img,
video,
audio {
    max-width: 100%;
}
/* ---------------------------------------------------------------------
 Utility Classes
------------------------------------------------------------------------ */
.isHidden {
    position: absolute;
    left: -9999px;
}

/* ---------------------------------------------------------------------
 Logo
------------------------------------------------------------------------ */
.logo {
    display: inline-block;
    width: 235px;
    height: 128px;
    background: transparent url("../images/design/logo.png") no-repeat 0 0;
    text-indent: -9999px;
}

/* ---------------------------------------------------------------------
 Navigation
------------------------------------------------------------------------ */
.nav {
    position: absolute;
    top: 0;
    right: 10px;
}

/* ---------------------------------------------------------------------
 Sections
------------------------------------------------------------------------ */
.section {
    padding: 50px 0;
    position: relative;
}

.section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 28px;
}

.section:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 28px;
}

.section-hd {
    margin: 0 auto 30px auto;
    max-width: 940px;
    text-align: center;
    max-width: 420px;
}

.section-bd {
    margin: 0 auto;
    max-width: 940px;
}

/* masthead section */
.section_masthead {
    padding: 0;
}

.section_masthead:after {
    border-left: 2px solid #7abdbe;
    border-right: 2px solid #7abdbe;
}

.section-bd_masthead {
    padding: 72px 0 50px 0;
    position: relative;
}

/* services section */
.section_services {
    background: #9fc34d;
}

.section_services:before {
    border-left: 2px solid #213f1c;
    border-right: 2px solid #213f1c;
}

.section_services:after {
    border-left: 2px solid #213f1c;
    border-right: 2px solid #213f1c;
}

.section-hd_services {
    padding: 0 14px;
}

/* portfolio section */
.section_portfolio {
    background: #ffffff;
}

.section_portfolio:before {
    border-left: 2px solid #e9642a;
    border-right: 2px solid #e9642a;
}

.section_portfolio:after {
    border-left: 2px solid #e9642a;
    border-right: 2px solid #e9642a;
}

/* about section */
.section_about {
    background: #80c5c7;
}

.section_about:before {
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

.section_about:after {
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

/* contact section */
.section_contact {
    padding: 20px 0;
    background: #eeeae2;
}

/* ---------------------------------------------------------------------
 Preamble
------------------------------------------------------------------------ */
.preamble {
    width: 310px;
    margin: 0 auto;
    text-align: center;
}

.preamble-hd {
    margin-bottom: 18px;
}

.preamble-bd {
    margin-bottom: 0;
}

/* ---------------------------------------------------------------------
 Headings
    - all headings change sizes / hierarchies as mediaqueries apply
------------------------------------------------------------------------ */
.hdg_section {
    font-size: 20px;
    line-height: 1.2;
}
.hdg_subSection {
    font-size: 19px;
    line-height: 1.2;
 }

.hdg_minorSection {
    font-size: 16px;
    line-height: 1.2;
}

/* hdg mixins */
.hdg_gray { color: #606158; }
.hdg_green { color: #315314; }
.hdg_blue { color: #2b4242; }
.hdg_lightGreen { color: #9fc34d; }
.hdg_lightBlue { color: #80c5c7; }
.hdg_bold { font-weight: bold; }
.hdg_cap { text-transform: uppercase; }

/* ---------------------------------------------------------------------
 Buttons
------------------------------------------------------------------------ */
.btn {
    display: inline-block;
    padding: 0 44px;
    height: 32px;
    line-height: 32px;
    background: #e9642a;
    color: #ffffff;
    font: normal 13px/32px "SeravekRegular", Helvetica, Arial, sans-serif;
    -webkit-transition: background-color .1s ease-in-out;
    -moz-transition:    background-color .1s ease-in-out;
    -ms-transition:     background-color .1s ease-in-out;
    -o-transition:      background-color .1s ease-in-out;
    transition:         background-color .1s ease-in-out;
}

.btn:hover {
    background: #dc5a22;
}

/* ---------------------------------------------------------------------
 Box
------------------------------------------------------------------------ */
.box {
    padding: 20px 14px;
    margin-bottom: 20px;
    background-color: #b0ce6d; /* fallback for non rgba */
    background-color: rgba(255,255,255,.18);
}

.box_basic {
    margin: 0;
    background-color: transparent;
}

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
.blocks {
    margin: 0 auto;
}

.blocks > * {
    margin: 0 6%;
}

/* ---------------------------------------------------------------------
 Feature
------------------------------------------------------------------------ */
.feature-img {
    text-align: center;
    margin-bottom: 12px;
    max-width: 260px;
    margin: 0 auto;
}

.feature-hd {
    text-align: center;
    margin-bottom: 12px;
}

/* ---------------------------------------------------------------------
 Teaser
------------------------------------------------------------------------ */
.teaser {
    overflow: hidden;
    text-align: center;
    font-size: 14px;
}

.teaser-hd {
    margin-bottom: 20px;
}

.teaser-subHd {
    margin-bottom: 6px;
}

.teaser-bd {
    margin-bottom: 20px;
    line-height: 1.4;
}

/* ---------------------------------------------------------------------
 High Pixel Density Display Support
------------------------------------------------------------------------ */
@media only screen and (-webkit-min-device-pixel-ratio:1.5) {
    .logo {
        background: transparent url("../images/design/logo@2x.png") no-repeat 0 0;
        background-size: 100%;
    }
}