/* ---------------------------------------------------------------------
Original Authors: Anthony Ticknor, Dan Piscitiello
Contributors: N/A

Target Browsers: All
Media Type: Screen, Projection
Width: Large Screen & Up
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
body {
    font: normal 18px/1.26 "SeravekLight", Helvetica, Arial, sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ---------------------------------------------------------------------
 Sections
------------------------------------------------------------------------ */
.section {
    padding: 100px 0;
}

.section:before {
    height: 60px;
}

.section:after {
    height: 60px;
}

.section-hd {
    max-width: 768px; /* reset med view max-width */
}

/* masthead section */
.section_masthead {
    padding: 0;
}

.section_masthead:after {
    height: 170px;
}

.section-bd_masthead {
    padding: 183px 0;
}

.section_portfolio {
    padding: 100px 132px; /* lateral padding should match carousel btn width, plus a bit */
}

.section_portfolio > .section-hd { margin-bottom: 29px; }

/* contact section */
.section_contact {
    padding: 0;
}

/* ---------------------------------------------------------------------
 Preamble
------------------------------------------------------------------------ */
.preamble {
    width: 800px;
}

.preamble-hd {
    margin-bottom: 16px;
}

.preamble-bd {
    margin-bottom: 18px;
}

/* ---------------------------------------------------------------------
 Headings
    - all headings change sizes / hierarchies as mediaqueries apply
------------------------------------------------------------------------ */
.hdg_section { font-size: 34px; }
.hdg_subSection { font-size: 22px; }

/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
.blocks > * {
    font-size: 17px; /* reset font-size after inline block spacing fix*/
}

.blocks_2upThen4up > * { width: 25%; }

/* ---------------------------------------------------------------------
 Promo
------------------------------------------------------------------------ */
.promo-ft {
    padding-top: 38px;
    font-size: 24px;
}

/* ---------------------------------------------------------------------
 Carousel
------------------------------------------------------------------------ */
.carousel {
    width: auto;
    max-width: 910px;
}

.carousel-controls {
    padding-bottom: 39px;
}

.carousel-controls-btn {
    width: 112px;
}

/* ---------------------------------------------------------------------
 Pagination Dots
------------------------------------------------------------------------ */
.paginationDot {
    width: 8px;
    height: 8px;
}

/* ---------------------------------------------------------------------
 Partners Logos :: increased by 1.7x for desktop from tablet
------------------------------------------------------------------------ */
.partners {
    padding-top: 31px;
}

.partners-3m        { width: 80px; }
.partners-bestbuy   { width: 90px; }
.partners-apple     { width: 73px; }
.partners-target    { width: 75px; }
.partners-usbank    { width: 109px; }
